 .scrollbar::-webkit-scrollbar {
     width: 7px;
     height: 7px;
 }

 .scrollbar::-webkit-scrollbar-track {
     background: #f1f1f1;
     border-radius: 4px;
 }

 .scrollbar::-webkit-scrollbar-thumb {
     background: #7077ff;
     border-radius: 4px;
 }

 .scrollbar::-webkit-scrollbar-thumb:hover {
     background: #5b64e8;
 }

 .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  display: block;
  height: 5px;
}
